# Python
venv/
env/
.env
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log

# Backend specific
backend/Lib/
backend/Scripts/
backend/Include/
backend/site-packages/
backend/__pycache__/
backend/.venv/
backend/myenv/

# Node.js
node_modules/
frontend/node_modules/
frontend/.env
