  * {
      font-family: 'Segoe UI';
      box-sizing: border-box;
  }

  body {
      margin: 0%;

      width: 100%;
      height: 200px;
  }

  .class {
      background-color: #4900c1;

      height: 917px;
      z-index: -1;
  }

  .logo {
      margin-left: 50px;
      width: 70px;
      margin-right: auto;
  }

  .navbar {
      display: flex;
      align-items: center;
      gap: 80px;
      background-color: #ffffff;
      padding-right: 100px;
  }

  .navbar a {
      text-decoration: none;
      color: rgb(0, 0, 0);
      font-size: 18px;
      font-weight: 400;
  }

  .navbar .Signin {
      background-color: #ffd700;
      color: black;
      padding: 10px 25px;
      border-radius: 50px;
      font-weight: 550;
  }








  .flex {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 50px;
  }

  .login-container {
      margin-top: 50px;
      /* removed margin-left for centering */
      background-color: #4900c1;


      border-radius: 24px;
      padding: 60px 50px;
      width: 500px;
      max-width: 500px;
      box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
      height: 700px;
  }

  h1 {
      color: white;
      font-size: 42px;
      font-weight: 700;
      margin-bottom: 40px;
  }

  .form-group {
      margin-bottom: 25px;
  }

  label {
      display: block;
      color: white;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 10px;
  }

  input {
      width: 100%;
      padding: 16px 20px;
      border: none;
      border-radius: 8px;
      font-size: 16px;
      background-color: white;
      color: #666;

  }


  .sign-in-btn {
      width: 100%;
      padding: 18px;
      background-color: #6200ff;
      color: white;
      border: none;
      border-radius: 8px;
      font-size: 20px;
      font-weight: 600;
      cursor: pointer;
      margin-top: 30px;

  }

  .sign-in-btn:hover {
      background-color: #240555;
  }

  .divider {
      text-align: center;
      color: white;
      font-size: 16px;
      margin: 30px 0;
  }

  .social-buttons {
      display: flex;
      gap: 20px;
      justify-content: center;
      margin-bottom: 30px;
  }

  .social-btn {
      width: 70px;
      height: 40px;
      background-color: white;
      border: none;
      border-radius: 12px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform 0.2s ease;
  }

  .social-btn:hover {
      transform: scale(1.05);
  }

  .social-btn svg {
      width: 28px;
      height: 28px;
  }

  .register-text {
      text-align: center;
      color: white;
      font-size: 16px;
  }

  .register-text a {
      color: white;
      font-weight: 700;
      text-decoration: none;
  }

  .register-text a:hover {
      text-decoration: underline;
  }

  .thumb {
      /* removed margin-left */
      width: 650px;
      height: 810px;
  }

  .register-text a {
      color: #000000;
      font-size: 20px;
  }