* {
    font-family: 'Segoe UI';
}

body {
    margin: 0%;
    width: 100%;
    height: 200px;
}

.class {
    background-color: #4900c1;
    height: 917px;
    z-index: -1;
}

.logo {
    margin-left: 50px;
    width: 70px;
    margin-right: auto;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 80px;
    background-color: #ffffff;
    padding-right: 100px;
}

.navbar a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 400;
}

.navbar .Signin {
    background-color: #ffd700;
    color: black;
    padding: 10px 25px;
    border-radius: 50px;
    font-weight: 550;
}





.container {

    margin-top: 40px;
    margin-left: 100px;
    background-color: #6200ff;
    border-radius: 24px;
    padding: 60px 50px;
    width: 400px;
    height: 650px;

}

.first {
    margin-top: -40px;
}

label {
    display: block;
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}

input {
    width: 350px;
    padding: 14px 16px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    background-color: white;
    color: #666;
    outline: none;
}

select {
    width: 380px;
    padding: 14px 18px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    background-color: white;
    color: #666;
    outline: none;
}

button {
    margin-top: 30px;
    width: 380px;
    padding: 14px 16px;
    border: none;
    border-radius: 8px;
    background-color: #4900c1;
    color: #ffffff;
    outline: none;
    font-size: 20px;
    font-weight: 600;
}

button:hover {
    background-color: #240555;
    ;
}

.flex {
    display: flex;
}

.flex img {
    width: 620px;
    margin-left: 70px;
    height: 810px;
}